{% if admins is not defined %}
{%  set admins = [] %}
{% endif %}
#    $OpenBSD: sshd_config,v 1.103 2018/04/09 20:41:22 tj Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

# If you want to change the port on a SELinux system, you have to tell
# SELinux about this change.
# semanage port -a -t ssh_port_t -p tcp #PORTNUMBER
#
Port 22
# CIS: Verify if IPv6 is enabled on the system
AddressFamily inet
#ListenAddress 0.0.0.0
#ListenAddress ::

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
#RekeyLimit default none

{% if ssh_crypto_policy_optout %}
# CIS: Use Only Approved Cipher in Counter Mode
Ciphers {{ ssh_ciphers|unique|sort|join(',') }}

# CIS: Ensure only approved MAC algorithms are used (Scored)
MACs {{ ssh_macs|unique|sort|join(',') }}

# CIS: Ensure only strong Key Exchange algorithms are used
KexAlgorithms {{ ssh_kexalgorithms|unique|sort|join(',') }}

HostKeyAlgorithms {{ ssh_hostkeyalgorithms|unique|sort|join(',') }}
{% else %}
# This system is following system-wide crypto policy. The changes to
# crypto properties (Ciphers, MACs, ...) will not have any effect here.
# They will be overridden by command-line options passed to the server
# on command line.
# Please, check manual pages for update-crypto-policies(8) and sshd_config(5).
{% endif %}

# Logging
#SyslogFacility AUTH
SyslogFacility AUTHPRIV
# CIS: Ensure SSH LogLevel is appropriate
LogLevel VERBOSE

# Authentication:

# CIS: Ensure SSH LoginGraceTime is set to one minute or less
LoginGraceTime 60
# CIS: Ensure SSH root login is disabled
PermitRootLogin {{ ssh_permitrootlogin }}
#StrictModes yes
# CIS: Ensure SSH MaxAuthTries is set to 4 or less
MaxAuthTries {{ ssh_maxauthtries }}
# CIS: Ensure SSH MaxSessions is set to 10 or less
MaxSessions {{ ssh_maxsessions }}

#PubkeyAuthentication yes

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile    .ssh/authorized_keys

#AuthorizedPrincipalsFile none

#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts
# CIS: Ensure SSH HostbasedAuthentication is disabled
HostbasedAuthentication no
# Change to yes if you don't trust ~/.ssh/known_hosts for
# HostbasedAuthentication
#IgnoreUserKnownHosts no
# Don't read the user's ~/.rhosts and ~/.shosts files
# CIS: Ensure SSH IgnoreRhosts is enabled
IgnoreRhosts yes

# To disable tunneled clear text passwords, change to no here!
#PasswordAuthentication yes
# CIS: Ensure SSH PermitEmptyPasswords is disabled
PermitEmptyPasswords no
PasswordAuthentication yes

# Change to no to disable s/key passwords
#ChallengeResponseAuthentication yes
ChallengeResponseAuthentication no

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no
#KerberosUseKuserok yes

# GSSAPI options
GSSAPIAuthentication yes
GSSAPICleanupCredentials no
#GSSAPIStrictAcceptorCheck yes
#GSSAPIKeyExchange no
#GSSAPIEnablek5users no

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
# WARNING: 'UsePAM no' is not supported in RHEL and may cause several
# problems.
# CIS: Ensure SSH PAM is enabled
UsePAM yes

#AllowAgentForwarding yes
# CIS: Ensure SSH AllowTcpForwarding is disabled
AllowTcpForwarding {{ ssh_allowtcpforwarding }}
#GatewayPorts no
# CIS: Ensure SSH X11 forwarding is disabled
X11Forwarding {{ ssh_x11forwarding }}
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes

# It is recommended to use pam_motd in /etc/pam.d/sshd instead of PrintMotd,
# as it is more configurable and versatile than the built-in version.
PrintMotd no

#PrintLastLog yes
#TCPKeepAlive yes
# CIS: Ensure SSH PermitUserEnvironment is disabled
PermitUserEnvironment no
#Compression delayed
# CIS: Ensure SSH Idle Timeout Interval is configured
ClientAliveInterval 300
ClientAliveCountMax 0
#UseDNS no
#PidFile /var/run/sshd.pid
# CIS: Ensure SSH MaxStartups is configured
MaxStartups 10:30:60
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

# CIS: Ensure SSH warning banner is configured
Banner /etc/issue.net

# CIS: Ensure SSH access is limited
{% if ssh_permitrootlogin|lower != 'no' or ssh_allow_users != None %}
{%  set allow_users = '' %}
{%  if ssh_permitrootlogin|lower != 'no' %}
{%      set allow_users = 'root ' %}
{%  endif %}
{%  if ssh_allow_users != None %}
{%      set ssh_allow_users = ssh_allow_users + admins %}
{%  else %}
{%      set allow_users = allow_users + admins|unique|sort|join(' ') %}
{%  endif %}
{%  if ssh_allow_users != None %}
{%      set allow_users = allow_users + ssh_allow_users|unique|sort|join(' ') %}
{%  endif %}
AllowUsers   {{ allow_users }}
{% else %}
#AllowUsers  <userlist>
{% endif %}
{% if ssh_allow_groups != None %}
AllowGroups  {{ ssh_allow_groups|unique|sort|join(' ') }}
{% else %}
#AllowGroups <grouplist>
{% endif %}
{% if ssh_permitrootlogin|lower == 'no' or ssh_deny_users != None %}
{%  set deny_users = '' %}
{%  if ssh_permitrootlogin|lower == 'no' %}
{%      set deny_users = 'root ' %}
{%  endif %}
{%  if ssh_deny_users != None %}
{%      set deny_users = deny_users + ssh_deny_users|unique|sort|join(' ') %}
{%  endif %}
DenyUsers    {{ deny_users }}
{% else %}
#DenyUsers   <userlist>
{% endif %}
{% if ssh_deny_groups != None %}
DenyGroups   {{ ssh_deny_groups|unique|sort|join(' ') }}
{% else %}
#DenyGroups  <grouplist>
{% endif %}

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

# override default of no subsystems
Subsystem    sftp    /usr/libexec/openssh/sftp-server

# Example of overriding settings on a per-user basis
#Match User anoncvs
#    X11Forwarding no
#    AllowTcpForwarding no
#    PermitTTY no
#    ForceCommand cvs server
